<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CH Gas Vinh Quang</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@600&family=Roboto+Slab:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/style.css">
    <script type="text/javascript">
        function xoahaykhong(tinnhan){
            if(window.confirm(tinnhan)==true){
                return true;
            }
            return false;
        }
    </script>

</head>
<body>
  

<div class="top">

    <%- include ('../layouts/header.ejs') %>

    <div class="container ">
    <div class="row">
        <div class="col-sm-12 mr-3">
            <h1><p class="text-center">BẢNG THÔNG TIN BÁN HÀNG</p></h1>
            <div class="d-flex align-items-center mb-3">
                <form action="/users/search" class="ml-auto d-flex" method="GET">
                <input type="text" name="q" class="form-control" placeholder="Tìm tên Khách Hàng">
                <button class="btn btn-primary ml-2">Tìm</button>
                </form>
            </div>
            <div class="trang">
            <table class="table table-bordered table-sm table-hover" >
                <thead class="thead-dark">
                    <tr>
                        <form action="/users/create" method="POST">
                            <th><p class="text-center">STT</p></th>
                            <th><p class="text-center">Ngày</p></th>
                            <th><input type="text" name="name" id="" class="form-control text-center" placeholder="Tên khách hàng"></th>
                            <th><input type="text" name="loai" id="" class="form-control text-center" placeholder="Loại Gas"></th>
                            <th><input type="number" name="soluong" id="" class="form-control text-center" placeholder="Số Lượng"></th>
                            <th><input type="number" name="gia" id="" class="form-control text-center" pattern="^\d*(\.\d{0,2})?$" placeholder="Thành tiền"></th>
                            <th><input type="text" name="giao" id="" class="form-control text-center" placeholder="Người giao"></th>
                            <th><p class="text-center"></p></th>
                            <th><button type="submit" class="btn btn-primary col-auto">Tạo</button></th>
                        
                        </form>
                    </tr>
                </thead>
                <tbody>
                        <tr>
                            <td colspan="3"></td>
                            <td class="text-capitalize text-center font-weight-bold">Tổng</td>
                            <td class="e text-center font-weight-bold"><p> <%= (users.reduce((a, b) => a + (+b.soluong || 0), 0)).toLocaleString("fi-FI") %></p></td>
                            <td class="e text-center font-weight-bold"><p> <%= (users.reduce((a, b) => a + (+b.gia || 0), 0)).toLocaleString("fi-FI")+" đ" %></p></td>
                            
                            <td colspan="3"></td>

                        </tr>
                    <% for(var i = users.length - 1;i >=0 ;i--){ %>
                        <% if (i === users.length-51) {break;} %>
                    <tr>
                        
                        <td><%= users.length-i  %></td>
                        <td><%= (users[i].month).getDate()+"/"+((users[i].month).getMonth()+1)+"/"+(users[i].month).getFullYear()  %></td>
                        <td class="text-capitalize"><%= users[i].name %> </td>
                        <td class="text-uppercase text-center"><%= users[i].loai %></td>
                        <td class="text-center"><%= users[i].soluong %></td>
                        <td class="text-right"><%= (users[i].gia) %></td>
                        <td class="text-capitalize text-center"><%= users[i].giao %></td>
                        <td><a href="/users/xem/<%= users[i]._id %> " >Xem</a></td>
                        <td><a href="/users/sua/<%= users[i]._id %> ">
                            <i class="fa fa-edit "></i></a> /
                            <a onclick="return xoahaykhong('Ban co chac chan xoa hay khong');" href="/users/xoa/<%= users[i]._id %> ">
                                <i class="fa fa-remove "></i></a></td>
                        
                    </tr>
                <% } %> 
                </tbody>
                
            </table>
        </div>
        </div>
    </div>
    </div>


</div>
  <%- include ('../layouts/footer.ejs') %>
</body>
</html>