<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CH Gas Vinh Quang</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@600&family=Roboto+Slab:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/style.css">


</head>
<body>
  

<div class="top">

<%- include ('../layouts/header.ejs') %>

    <div class="container ">
    <div class="row">
        <div class="col-sm-12 mr-3">
            <h1><p class="text-center">BẢNG THÔNG TIN BÁN HÀNG</p></h1>
            <div class="d-flex align-items-center mb-3">
                <form action="/users/searchday" class="ml-auto d-flex" method="GET">
                    
                    <input type="date" name="bcngay" class="form-control" placeholder="dd-mm-yyyy">
                <button class="btn btn-primary ml-2">Tìm</button>
                </form>
            </div>
            <div class="trang">
            <table class="table table-bordered table-sm table-hover" >
                <thead class="thead-dark">
                    <tr>
                            <th class="text-center">STT</th>
                            <th class="text-center">Ngày</th>
                            <th class="text-center">Tên khách hàng</th>
                            <th class="text-center">Loại Gas</th>
                            <th class="text-center">Số Lượng</th>
                            <th class="text-center">Thành tiền</th>
                            <th class="text-center">Người giao</th>

                    </tr>
                </thead>
                <tbody>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td class="text-capitalize text-center font-weight-bold">Tổng</td>
                            <td class="e text-center font-weight-bold"><p> <%= (users.reduce((a, b) => a + (+b.soluong || 0), 0)).toLocaleString("fi-FI") %></p></td>
                            <td class="e text-center font-weight-bold"><p> <%= (users.reduce((a, b) => a + (+b.gia || 0), 0)).toLocaleString("fi-FI")+" đ" %></p></td>
                            <td></td>
                            <td></td>

                        </tr>
                    <% for(var i = 0 ;i < users.length ;i++){ %>
                    <tr>
                        
                        <td><%= i+1  %></td>
                        <td><%= (users[i].month).getHours()+":"+(users[i].month).getMinutes()+"_"+(users[i].month).getDate()+"/"+((users[i].month).getMonth()+1)+"/"+(users[i].month).getFullYear()  %></td>
                        <td class="text-capitalize"><%= users[i].name %> </td>
                        <td class="text-uppercase text-center"><%= users[i].loai %></td>
                        <td class="text-center"><%= users[i].soluong %></td>
                        <td class="text-right"><%= (users[i].gia)+" đ" %></td>
                        <td class="text-capitalize text-center"><%= users[i].giao %></td>

                    </tr>
                <% } %> 
                </tbody>
                
            </table>
        </div>
        </div>
    </div>
    </div>
</div>

  <%- include ('../layouts/footer.ejs') %>
</body>
</html>